In [1]:
import pandas as pd
import pathlib

In [2]:
cwd = pathlib.Path.cwd()

In [3]:
rel = pd.read_csv(cwd / 'data' / 'rel.csv', index_col=0)
rel

       origin_id  destination_id
id
0              0            2832
1              0            2833
2           3550            2832
3           3550            2833
4              1           27597
...          ...             ...
95655      38017            4284
95656      38018           38021
95657      38023           15217
95658      38023           15218
95659      38024           38025

[95660 rows x 2 columns]

rel.csv：记录路段之间的连接关系
origin_id：起始路段
destination

In [4]:
road = pd.read_csv(cwd / 'data' / 'road.csv', index_col=0)
road

,coordinates,highway,length,lanes,tunnel,bridge,maxspeed,width,alley,roundabout
id,,,,,,,,,,
0,"[[116.3894407, 39.9062721], [116.3894463, 39.9...",4,28.981,0,0,0,0,0,0,0
1,"[[116.3894407, 39.9062721], [116.386428, 39.90...",4,325.040,5,0,0,0,0,0,0
2,"[[116.3930703, 39.906394], [116.3894407, 39.90...",4,309.891,5,0,0,0,0,0,0
3,"[[116.3970962, 39.9065222], [116.3930703, 39.9...",4,343.693,5,0,0,0,0,0,0
4,"[[116.3970962, 39.9065222], [116.3970144, 39.9...",11,34.704,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
38022,"[[116.4025587, 39.8338872], [116.4018688, 39.8...",6,328.697,0,0,0,0,0,0,0
38023,"[[116.406357, 39.8311645], [116.4062061, 39.83...",8,12.886,0,0,0,0,0,0,0
38024,"[[116.406357, 39.8311645], [116.4062083, 39.83...",6,304.376,0,0,0,0,0,0,0
38025,"[[116.4059676, 39.8338401], [116.406125, 39.83...",6,304.376,0,0,0,0,0,0,0
38026,"[[116.3121472, 39.9935096], [116.3121727, 39.9...",6,134.104,0,0,0,0,0,0,0

road.csv：记录路段的属性，0 一般表示缺失值
coordinates: 路段范围
highway: 路段类型，具体含义见 highway2num.json
lanes: 车道数
maxspeed: 最高限速
bridge: 是否为桥梁
tunnel: 是否为隧道
alley: 是否为小巷
roundabout: 是否为环岛
width: 路段宽度

In [5]:
traj = pd.read_csv(cwd / 'data' / 'traj.csv', index_col=0)
traj

,time,entity_id,traj_id,coordinates,current_dis,speeds,holidays
id,,,,,,,
0,2013-10-08T17:45:00Z,254,0,"[116.318726,40.009014]",0.000000,36.6900,0
1,2013-10-08T17:46:45Z,254,0,"[116.315102,40.004784]",0.562623,24.5375,0
2,2013-10-08T17:47:39Z,254,0,"[116.315018,40.002842]",0.778695,31.9675,0
3,2013-10-08T17:49:26Z,254,0,"[116.315041,39.998585]",1.252148,19.7850,0
4,2013-10-08T17:51:15Z,254,0,"[116.315605,39.992554]",1.924533,24.4500,0
...,...,...,...,...,...,...,...
518403,2013-10-30T23:14:35Z,4954,21998,"[116.333366,39.79073]",21.419211,27.1450,0
518404,2013-10-30T23:14:59Z,4954,21998,"[116.330444,39.79084]",21.669183,30.0825,0
518405,2013-10-30T23:16:35Z,4954,21998,"[116.328453,39.793888]",22.129037,46.0550,0
518406,2013-10-30T23:16:59Z,4954,21998,"[116.328072,39.796574]",22.429494,51.5150,0
518407,2013-10-30T23:17:11Z,4954,21998,"[116.327988,39.797451]",22.527282,26.0125,0

traj.csv：记录车辆的轨迹
time: 时间戳
entity_id: 车辆id
traj_id: 轨迹id
coordinates: 车辆位置(经纬度)
current_distance: 行驶距离
speeds: 速度
holidays: 是否为节假日

In [6]:
eta = pd.read_csv(cwd / 'data' /'eta_task.csv', index_col=0)
eta

,traj_id,time,entity_id,coordinates,current_dis,speeds,holidays
id,,,,,,,
126,9,2013-10-08T22:30:00Z,254,"[116.490013,39.892902]",0.000000,37.2925,0
133,9,NaN,254,"[116.511292,39.904655]",3.079017,24.6500,0
147,11,2013-10-08T23:00:00Z,254,"[116.450546,39.943771]",0.000000,36.0575,0
164,11,NaN,254,"[116.440742,40.018944]",12.543428,49.9000,0
171,13,2013-10-08T17:15:00Z,255,"[116.335503,39.763187]",0.000000,26.6250,0
...,...,...,...,...,...,...,...
518214,21991,NaN,4954,"[116.371025,39.84676]",7.175550,17.9425,0
518315,21997,2013-10-30T22:00:00Z,4954,"[116.324913,39.938717]",0.000000,39.0125,0
518348,21997,NaN,4954,"[116.2817,39.945621]",11.553799,25.0725,0
518408,21999,2013-10-30T00:00:00Z,4955,"[116.301109,39.985023]",0.000000,55.1025,0
518423,21999,NaN,4955,"[116.270699,39.956749]",4.662003,18.1775,0

给定轨迹起始地点和终止地点，估计到达时刻

jump = pd.read_csv(cwd / 'data' / 'jump_task.csv', index_col=0)
jump.head(16)

给定长度 14 的轨迹，预测第 15 个位置